@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* for title, the list text*/
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);

  --linear-gradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  background-color: var(--very-light-grayish-blue);
}

/* body::before {
  content: "";
  background-image: url(images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
} */

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--grayish-blue);
}

.toggle-container label {
  background: var(--linear-gradient);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 35px;
  width: 70px;
  margin: 0 1em;
}

.toggle-container label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 5px;
  left: 5px;
  transition: transform 0.3s ease;
}

.toggle-container input {
  position: absolute;
  left: -9999px;
}

.toggle-container input:checked + label .ball {
  transform: translateX(35px);
}

.pricing h3,
.card {
  color: var(--dark-grayish-blue);
}

.pricing h3 {
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1.35em;
}

.card-group {
  display: grid;
  margin: 3.5em 0em;
  gap: 1.5em;
  justify-content: center;
}

.card {
  text-align: center;
  padding: 1.5em;
  margin: 0 1.1em;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 345px;
}

.card-title {
  font-size: 1.2rem;
}

.card-price {
  margin: 0.65em 0;
  width: 100%;
  font-size: 4.5rem;
}

.monthly {
  display: none;
}

/* add css logic(if-else) here: toggle show annually */
/* if show annually exists */
.show-monthly .card .monthly {
  display: block;
}

.show-monthly .card .annually {
  display: none;
}

.card-list > * {
  list-style-type: none;
  padding: 0.8em 0;
  border-top: 1px solid var(--light-grayish-blue);
}

.card-list > *:last-child {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.card button {
  margin-top: 2.25em;
  padding: 0.8em 1em;
  width: 100%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: var(--linear-gradient);
  color: white;
  outline-color: transparent;
  border: none;
  border-radius: 7.5px;
  cursor: pointer;
  transition: 0.1s ease;
}

.card-premium {
  color: white;
  background: var(--linear-gradient);
}

.card-premium button {
  background: white;
  color: var(--grayish-blue);
}

.card button:hover {
  outline: solid;
  outline-color: var(--grayish-blue);
  outline-width: 1px;
  box-shadow: 0 2.5px 5px var(--grayish-blue);
  background: white;
  color: var(--grayish-blue);
}

.card-premium button:hover {
  outline: solid;
  outline-color: white;
  outline-width: 1px;
  box-shadow: 0 2.5px 5px white;
  background: var(--linear-gradient);
  color: white;
}

.attribution {
  margin: 0 1em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    min-height: auto;
  }

  body::before {
    content: "";
    background-image: url(images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

@media screen and (min-width: 1080px) {
  body::before {
    content: "";
    background-image: url(images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  body::after {
    content: "";
    background-image: url(images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .pricing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .card-group {
    display: flex;
    gap: 0;
  }

  .card {
    margin: 0;
    width: 340px;
  }

  .card-premium {
    transform: scale(1.1);
  }

  .card-premium > * {
    transform: scale(0.9);
  }

  /* 
  .card-group {
  display: grid;
  margin: 3.5em 0em;
  gap: 1.5em;
  justify-content: center;
}

.card {
  text-align: center;
  padding: 1.5em;
  margin: 0 1.1em;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 400px;
} */
}
